body{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    background-color: rgb(236, 236, 236);
}
.header{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    position: relative;
}
.headerLinksHolder{
    margin-top: 13px;
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.headerLinksHolder a{
    text-decoration: none;
    color: rgb(255, 255, 255);
        
}












.header a {
    position: relative;
}
.headerLinksHolder a:hover{
    border-bottom: 2px rgb(209, 56, 76) solid;
    transition-duration: .3px;
}

.HeaderDropdownContent{
    display: none;
    background-color: #fff;
    border-radius: 3px;
}
.headerLinkDropdown:hover .HeaderDropdownContent{
    display: block;
    position: absolute;

}
.HeaderDropdownContent h2{
    margin-left: 1.8vmin;
}
.HeaderDropdownContent h4{
    margin-left: 3.2vmin;
    padding-right: 3.2vmin;
}
.HeaderDropdownContent a{
    color: rgb(32, 57, 102);
}


.headerButton{
    border-radius: 30px;
    background-color: rgb(183, 226, 104);
    color:rgb(32, 57, 102);
    padding: 15px 25px 15px 25px;
    border: 0px;
    font-weight: 700;
}
.headerButton:hover{
    transition-duration: .3s;
    background-color: rgb(32, 57, 102);
    color: #fff;
}

/*sec1*/
.sec1{
    height: 73vh;
    width: 1vw;
}

/* video in sec1 */
.sec1Video::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right:0%;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(to top, rgba(19,19,19,0.7), rgba(0, 0, 0, 0.144));
   }
   .sec1Video{
    align-items: center;
    display: flex;
    height: 80%;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
   }
   .sec1Video video{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: auto;   
}

/*END*/
/*text on video*/

.sec1Text {
   position: absolute;
   top: 80%;
   left: 10%;
   color: #fff;
   z-index: 1;
   transform: translate(-20%, -50%);
   -webkit-transform: translate(-20%, -50%);
    font-size: clamp(2em, 4vw, 3em);
    width: 40%;
  }



  /*sec2*/

  .sec2ContentHolder1{
    margin-top: 100px;
    border-radius: 120px;
    padding: 110px 90px 110px 17vw;
    position: relative;
    background-color: #1b8991;
    width: 50vw;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -10vw;
  }
  .sec2ContentHolder1 img{
    position: absolute;
    width: 400px;
    border-radius: 450px;
    left: 91%;
  }
  .sec2{
    overflow: hidden;
    width: 100%;
    height: max-content;
  }
  .sec2HolderH{
    height: 400px;
    margin-top: 110px;
  }
  .sec2ContentHolder2{
    padding: 110px 0 110px 90px;
    background-color: #1b8991;
    position: absolute;
    right: 0;
    border-top-left-radius: 99999px;
    border-bottom-left-radius: 99999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2em;
    width: 50vw;
  }
  .sec2ContentHolder2 img{
    position: absolute;
    right: 91%;
    width: 400px;
    border-radius: 450px;
  }